
.full_screen {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
#game_container {
  top: 64px;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 58;
  bottom: 0;
}
@media (min-width: 0) and (max-width: 959px) and (orientation: portrait) {
  #game_container {
    top: 56px; } }

#game_iframe {
  width: 100%;
  height: 100%;
  border : none;
  overflow: hidden;
}

.avatar {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 20px;
  border: 1px solid #fff;
}