
.full_screen {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.game_container {
  width: 100%;
  height: auto;
  z-index: 58;
  bottom: 0;
}
.below_toolbar {
  top: 64px;
  position: absolute;
}
@media (min-width: 0) and (max-width: 959px) and (orientation: portrait) {
  .below_toolbar {
    top: 56px; } }

.chat_container {
  bottom: 0; left: 0; right: 0;
  z-index: 59;
}
.chat_lines {
  background-color: transparent;
  left: 0;
  right: 0;
  top: 58px;
  bottom: 0;
  position: absolute;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
}
.chat_background {
  position: absolute;
  background-color: rgba(250, 250, 250, 0.9);
}

#game_iframe {
  width: 100%;
  height: 100%;
  border : none;
  overflow: hidden;
}

.avatar {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 20px;
  border: 1px solid #fff;
}